<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st11.dbshowapi.repository.object.DaObjectMapper">

    <select id="getSyncTableList" parameterType="hashmap" resultType="com.st11.dbshowapi.repository.object.DaSyncTableVO">
        Select /* DaSyncTablesMapper.xml/getSyncTableList - ns: DaSyncTablesMapper by rohys03 */
            distinct SRC_DB sourceDb
            , TABLE_OWNER owner
            , TABLE_NM tableName
            , TRGT_DB targetDb
            , S.HOSTNAME hostname
            , T.UPDATE_DT updateDt
        from DAUSER.DA_SYNC_TABLES t, DAUSER.DA_SERVER_INFO s
        where 1=1
        <if test="tableName != null">
            and TABLE_NM = #{tableName}
        </if>
        <if test="hostName != null">
            and UPPER(S.HOSTNAME) like '%'||#{hostName}||'%'
        </if>
        <![CDATA[
        and t.TRGT_DB = s.SERVER_IP(+)
        ]]>
    </select>

    <select id="getTableList" parameterType="hashmap" resultType="com.st11.dbshowapi.repository.object.DaTableVO">
        SELECT /* daObjectMapper.xml/getTableList by rohys03 */
          /*+ LEADING(D S T) USE_NL(T) */
          D.DB_NM dbName,
          T.DB_ID dbId,
          T.OWNER owner,
          T.TABLE_NAME tableName,
          T.LOGIC_AREA_CD logicalAreaCd,
          T.LOGIC_AREA_CD2 logicalAreaCd2,
          T.PHSCL_AREA_CD physicalAreaCd,
          T.TABLE_COMMENTS tableComments,
          T.TABLE_CREATE_DT tableCreateDt,
          T.STD_OBJ_YN standardObjectYn,
          S.SUBJ_AREA_CD subjAreaCd,
          S.HGRNK_SUBJ_AREA_CD hgrnkSubjAreaCd
        From DAUSER.DA_DB_LIST D, DAUSER.DA_TABLES T, DAUSER.DA_TAB_SUBJ_AREA S
        WHERE D.DB_ID = T.DB_ID
        AND T.SUBJ_AREA_CD = S.SUBJ_AREA_CD
        <if test="dbId != null">
            and T.DB_ID = #{dbId}
        </if>
        <if test="dbName != null">
            and T.DB_NM = #{dbName}
        </if>
        <if test="tableName != null">
            and T.TABLE_NAME like '%'|| #{tableName} || '%'
        </if>
        <if test="subjAreaCd != null">
            and (S.SUBJ_AREA_CD = #{subjAreaCd} or S.HGRNK_SUBJ_AREA_CD = #{subjAreaCd})
        </if>
        ORDER BY D.DB_ID, S.HGRNK_SUBJ_AREA_CD nulls last, S.SUBJ_AREA_CD nulls first, T.TABLE_NAME ASC
    </select>

    <select id="getAreaCdList" parameterType="hashmap" resultType="com.st11.dbshowapi.repository.object.AreaInfoVO">
        SELECT
          nvl(Logic_area_cd, 'Undefined') areaCd1,
          Logic_area_cd2 areaCd2,
          <![CDATA[
          Count(*) allInstanceCnt,
          ]]>
          sum(decode(db_id, 1, 1, 0)) db1Cnt,
          sum(decode(db_id, 4, 1, 0)) db2Cnt,
          sum(decode(db_id, 5, 1, 0)) db3Cnt,
          sum(decode(db_id, 1, 0, 4, 0, 5, 0, 1)) otherInstanceCnt
        From dauser.da_tables
        Group by logic_area_cd, logic_area_cd2
        Order by logic_area_cd nulls last, logic_area_cd2 nulls first
    </select>

    <select id="getDaTabModification" parameterType="hashmap" resultType="com.st11.dbshowapi.repository.object.DaTableVO">
        Select
              T.DB_ID dbId
            , T.OWNER owner
            , T.TABLE_NAME tableName
            , Trunc(Avg(INSERT_OCCR_CNT)) insertOccrCnt
            , Trunc(avg(UPDATE_OCCR_CNT)) updateOccrCnt
            , Trunc(avg(DELETE_OCCR_CNT)) deleteOccrCnt
        From DAUSER.DA_TABLES T, DAUSER.DA_TAB_MODIF M
        where 1=1
        and T.db_id = #{dbId}
        and T.owner = #{owner}
        and T.TABLE_NAME = #{tableName}
        and T.db_id = M.DB_ID
        and T.owner = M.OWNER
        and T.TABLE_NAME = M.TABLE_NAME
        and M.CLCT_DY >= to_Char(sysdate - 7, 'yyyymmdd')
        GROUP BY T.DB_ID, T.owner , T.TABLE_NAME
    </select>

    <select id="getDaTabSubjAreaList" parameterType="hashmap" resultType="com.st11.dbshowapi.repository.object.DaTabSubjAreaVO">
        SELECT
             A.HGRNK_SUBJ_AREA_CD hgrnkSubjAreaCd
            , A.SUBJ_AREA_CD subjAreaCd
            , A.HGRNK_SUBJ_AREA_CD logicalAreaCd
            , A.SUBJ_AREA_CD logicalAreaCd2
            , A.SUBJ_AREA_NM subjAreaName
            , A.SUBJ_AREA_ENG_NM subjAreaEngName
            , phscl_area_Cd phsclSubjAreaCd
            , AREA_DEPTH areaDepth
            , SUBJ_AREA_DESC subjAreaDesc
            , TABLE_CNT tableCount
            , SQL_CNT sqlCount
        FROM (
            SELECT
                    B.SUBJ_AREA_CD
                    , COUNT(distinct Table_name) TABLE_CNT
                    , COUNT(distinct sql_id) SQL_CNT
                    , wm_concat(distinct phscl_area_Cd) phscl_area_Cd
            FROM  DA_SQL_DEPENDENCY A, DA_TABLES B
            WHERE 1=1
            AND   A.CLCT_DY(+) = TO_CHAR(SYSDATE,'YYYYMMDD')
            AND   A.OBJECT_NAME(+) = B.TABLE_NAME
            AND   A.OWNER(+) = B.OWNER
            AND   A.DB_NM(+) = 'TMALL'
            AND   A.OBJECT_TYPE(+) ='TABLE'
            AND   B.DB_ID = 1
            Group by SUBJ_AREA_CD
        ) B, DA_TAB_SUBJ_AREA A
        WHERE A.SUBJ_AREA_CD = B.SUBJ_AREA_CD(+)
        <if test="subjAreaCd != null">
            and (A.SUBJ_AREA_CD = #{subjAreaCd} OR A.HGRNK_SUBJ_AREA_CD = #{subjAreaCd})
        </if>
        <if test="hgrnkSubjAreaCd != null">
            and A.HGRNK_SUBJ_AREA_CD = #{hgrnkSubjAreaCd}
        </if>
        and A.USE_YN = 'Y'
        order by A.HGRNK_SUBJ_AREA_CD, AREA_DEPTH
     </select>

</mapper>