<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st11.dbshowapi.repository.SqlAreaMapper">

    <resultMap id="sqlAreaVo" type="com.st11.dbshowapi.repository.SqlAreaVO">
        <result property="instId" column="instId" jdbcType="NUMERIC" javaType="int" />
        <result property="sqlId" column="sqlId" jdbcType="VARCHAR" javaType="String" />
        <result property="planHashValue" column="planHashValue" />
        <result property="parsingSchemaName" column="parsingSchemaName" />
        <result property="module" column="module" />
        <result property="program_id" column="program_id" />
        <result property="executions" column="executions" />
        <result property="blockPerExec" column="blockPerExec" />
        <result property="lastActiveTime" column="lastActiveTime" />
        <result property="firstLoadTime" column="firstLoadTime" />
        <result property="commandType" column="commandType" />
        <result property="sqlFullText" column="sqlFullText" jdbcType="CLOB" javaType="String" />
    </resultMap>


    <select id="getSqlAreaListAll" resultType="com.st11.dbshowapi.repository.SqlAreaVO">
        <![CDATA[
        Select /* sqasMapper.xml/getSqlAreaListAll - ns: SqlAreaMapper by rohys03 */
          sql_id sqlId,
          sql_text sqlText,
          (SELECT name FROM audit_actions WHERE ACTION = s.command_type) commandType,
          executions executions,
          buffer_gets bufferGets,
          module module,
          last_active_time lastActiveTime,
          first_load_time firstLoadTime,
          child_number childNumber,
          parsing_schema_name parsingSchemaName
--         From temp$sql s
        From gv$sql s
        where 1=1
        and rownum <= 10
        ]]>
    </select>

    <select id="getSqlAreaList" parameterType="hashmap" resultType="com.st11.dbshowapi.repository.SqlAreaVO">
        <![CDATA[
        with dep as
            (
              select /*+ inline */ *
              from   gv$object_dependency c
              where  to_owner = upper(#{owner} )
              and    to_name = upper( #{name} )
            ),
            sqlarea as
            (
              select inst_id, sql_id, address, hash_value
              from   (
                       select /*+ no_merge */ a.*,
                              row_number( ) over( partition by sql_id order by executions desc ) sql_rn
                       from   (
                                select /*+ no_merge */ a.*,
                                       row_number( ) over( partition by plan_hash_value order by executions desc ) phv_rn
                                from   (
                                         select /*+ no_merge */ inst_id, sql_id, plan_hash_value, executions, address, hash_value
                                         from   gv$sqlarea a
                                         where  force_matching_signature != 0
                                         and    parsing_schema_name not in ( 'SYS', 'SYSMAN', 'DBSNMP', 'SYSTEM', 'EXFSYS' )
                                         and    not regexp_like( nvl( module, '-' ), 'Orange|SQL Developer|SQLGate|Data Pump|TOAD|golden|ERwin|PL.SQL Developer|SQL Loader|sqlplus|SQL.Plus' )
                                         and    instr( upper( sql_fulltext ), upper( #{name} ) ) > 0
                                         ]]>

        <choose>
            <when test = "commandType == 'SELECT'">
                AND command_type in ( 3 )
            </when>
            <when test = "commandType == 'DML'">
                AND command_type in ( 2, 6, 7, 26, 189, 191 )
            </when>
            <when test = "commanType == 'OTHERS'">
                AND command_type not in ( 2, 3, 6, 7, 26, 189, 191 )
            </when>
        </choose>

        <![CDATA[
                                       ) a
                              ) a
                       where  phv_rn = 1
                     ) a
              where  sql_rn = 1
            )
            select /* sqasMapper.xml/getSqlareaList - ns: SqlAreaMapper by rohys03 */ /*+ ordered use_hash(b) no_swap_join_inputs(b) */
                   b.inst_id instId,
                   b.sql_id sqlId,
                   b.plan_hash_value planHasshValue,
                   b.parsing_schema_name parsingSchemaName,
                   b.module module,
                   case when b.program_id = 0 then null else b.program_id end as program_id,
                   b.executions executions,
                   round( b.buffer_gets / decode( b.executions, 0, 1, b.executions ) ) as blockPerExec,
                   b.last_active_time lastActiveTime,
                   b.first_load_time firstLoadTime,
                   b.Command_type commandType,
                   dbms_lob.substr( sql_fulltext, 2000, 1      ) as sqlText
            from   sqlarea a,
                   gv$sqlarea b
            where  a.inst_id = b.inst_id
            and    a.sql_id = b.sql_id
            and    exists (
                            select /*+ unnest hash_sj push_subq swap_join_inputs(c)  */ 'x'
                            from   dep c
                            where  a.address = c.from_address
                            and    a.hash_value = c.from_hash
                          )
        ]]>
    </select>

    <select id="getSqlAreaDetail" parameterType="hashmap" resultMap="sqlAreaVo">
        <![CDATA[
            select /* sqasMapper.xml/getSqlAreaDetail - ns: SqlAreaMapper by rohys03 */
            b.inst_id instId,
            b.sql_id sqlId,
            b.plan_hash_value planHashValue,
            b.parsing_schema_name parsingSchemaName,
            b.module module,
            case when b.program_id = 0 then null else b.program_id end as program_id,
            b.executions executions,
            round( b.buffer_gets / decode( b.executions, 0, 1, b.executions ) ) as blockPerExec,
            b.last_active_time lastActiveTime,
            b.first_load_time firstLoadTime,
            b.Command_type commandType,
            b.sql_fulltext sqlFullText
            from   gv$sqlarea b
            where 1=1
            and sql_id = #{sqlId}
            and rownum = 1
        ]]>
    </select>

</mapper>