<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st11.dbshowapi.repository.TopSqlMapper">

    <select id="getTopSqlList" parameterType="hashmap" resultType="com.st11.dbshowapi.repository.TopSqlVO">
        <![CDATA[
        SELECT /* topSqlMapper.xml/getTopSqlList - ns: TopSqlMapper by rohys03 */
              Hist_dt histDt, node instId, SCHEMA schema, sql_id sqlId, Module module, serv service, first_load_dt firstLoadTime
            , bgets_rk bgetsRank, cpu_rk cpuRank, ela_rk elapRank, exec_rk execRank, dreads_rk diskReadRank
            , bgets_rto bgetsRatio, cpu_rto cpuRatio, ela_rto elapRatio, exec_rto execRatio, dreads_rto diskReadRatio
            , exec executions, bgets bgets, dreads diskRead, ela elapTime, cpu cpuTime
            , sql_text sqlText
        FROM tmall.DA_TOPSQL_HIST
        WHERE hist_dt BETWEEN to_Date( #{date} , 'YYYYMMDD') AND to_Date( #{date} ,'YYYYMMDD') + 1
        AND node = #{instId}
        ORDER BY bgets_rk asc
        ]]>
    </select>

</mapper>